body {
    background-color: white;
    color: black;
    display: grid;
    place-items: center;
    font-family: "Libre Baskerville", serif;
}

.title {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 50vw;
}

.content {
    margin-top: 16px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.option {
    width: 25vw;
    height: 56vh;
    background-color: black;
    border: 3px solid white;

    
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.outlined-correct {
    border: 3px solid #7ed11f;
}

.outlined-incorrect {
    border: 3px solid red;
}

button {
    height: 6vh;
    width: 30vw;
    margin-top: 24px;
    background-color: white;
    border: 1px solid black;
}

button:hover {
    background-color: #e8e8e8;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.option.fade-out {
    opacity: 0;
    pointer-events: none;
}

.option:hover {
    background-color: red;
}

.invisible {
    display: None;
}

@media screen and (width < 900px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin-top: 8px;
    }

    .options {
        gap: 1rem;
        flex-direction: column;
    }

    .option {
        width: 70vw;
        height: 35vh;
    }

    h1 {
        font-size: .8em;
    }

    #next {
        width: 50vw;
        margin-top: 16px;
    }
}